body {

}


form {
    display: flex;
    justify-content: center;
}

form[name='nickname'] {
    display: none;
}

/*remove dublication here */
.btn:focus {
    outline: 0 !important;
    box-shadow: none !important
}

.btn:active {
    outline: 0 !important;
    box-shadow: none !important
}


